name: pr-tests

on:
  pull_request:
    types:
      - "opened"
      - "reopened"
      - "synchronize"
    paths:
      - "src/**"
      - "build.mjs"
      - "tests/**"
      - "package.json"
      - "package-lock.json"
      - ".github/workflows/pr-tests.yml"
  push:
    branches:
      - "master"
    paths:
      - "src/**"
      - "build.mjs"
      - "tests/**"
      - "package.json"
      - "package-lock.json"
      - ".github/workflows/pr-tests.yml"

jobs:
  tests:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 22
      - run: npm ci
      - run: npm test
      - run: npm run lint
      - run: npm run build